

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 table-responsive scrollable-box">
            <h3 class="heading">Transaction Details:</h3>
            <table class="table table-bordered book-table ">
                <thead>
                    <tr >
                        <th class="book-details">Book ID</th>
                        <th class="book-details">Issue Date</th>
                        <th class="book-details">Return Date </th>

                    </tr>
                </thead>

                <tr ng-repeat="trans in TransForBook"
                    ng-click="transClick(trans)" ng-class="{selected : trans.ID === idSelected}">
                        <td>{{trans.BookID}}</td>
                        <td>{{trans.IssueDate}}</td>
                        <td>{{trans.ReturnDate}}</td>

                </tr>

            </table>

        </div>
        <div class="col-sm-4 btn-place">
                <button type="submit" class="btn my-button" ng-click="doTransaction('I')" 
                ng-disabled="selectedBook == null ||
                                (selectedBook.TotalBooks - selectedBook.BooksIssued) <= 0">Issue</button>
            </div>

            
            <div class="col-sm-4 ">
                <button type="submit" class="btn my-button" ng-click="doTransaction('R')" 
                       ng-disabled="selectedTranObj == null || 
                                    selectedTranObj.ReturnDate != '' ">Return</button>
            </div>
            <div class="col-sm-4 ">
                <button type="submit" class="btn my-button" ng-click="closeTrans()">Close </button>
            </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>