<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>POC Project </title>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/mycss.css">
     <link rel="stylesheet" type="text/css" href="/css/myResponsive.css">

    <script src="/lib/angular.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers/mainController.js"></script>
    <script src="/js/controllers/addDataController.js"></script>
    <script src="/js/controllers/editDataController.js"></script>

    <script src="/js/controllers/transactionController.js"></script>

    <script src="/js/services/dataService.js"></script>
    <script src="/js/services/addDataService.js"></script>
    <script src="/js/services/editDataService.js"></script>
    <script src="/js/services/tranDataService.js"></script>

    <style>



    </style>
</head>
<body ng-controller="mainController">
<nav class="navbar navbar-inverse">
    <div>
        <h1 class="name-brand">POC Project</h1>
        <!-- <span class="proverb">POC Project..</span> -->
        <p class=" navbar-nav my-name ">Darshana Shah</p>

</nav>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 table-responsive scrollable-box">
                <table class="table table-bordered book-table ">
                    <thead>
                        <tr >
                            <th class="book-details">ID</th>
                            <th class="book-details">Book Name</th>
                            <th class="book-details">Author Name</th>
                            <th class="book-details">ISBN </th>
                            <th class="book-details">Total Books</th>
                            <th class="book-details">Publish Date</th>
                            <th class="book-details" >Category</th>
                            <th class="book-details">Books Issued</th>
                            <th class="book-details">Status</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="book in bookDetails"
                        ng-click="bookClick(book)" ng-class="{selected : book.ID === idSelected}">
                        <td>{{book.ID}}</td>
                        <td>{{book.BookName}}</td>
                        <td>{{book.AuthorName}}</td>
                        <td>{{book.Isbn}}</td>
                        <td>{{book.TotalBooks}}</td>
                        <td>{{book.PublishDate}}</td>
                        <td>{{book.Category}}</td>
                        <td>{{book.BooksIssued}}</td>
                        <td>{{book.Status}}</td>

                    </tr>

                </table>
             </div>
        </div>

         <hr class="line" />



        <nav class="navbar">
          <div class="container-fluid ">

            <ul class="nav navbar-nav ">
              <li class="nav__item"><a ui-sref="add">Add</a></li>
              <li class="nav__item"><a ui-sref="edit({param1: selectedBook})">Edit</a></li>
              <li class="nav__item"><a ui-sref="delete" ng-click="deleteRow()">Delete</a></li>
              <li class="nav__item"><a ui-sref="transactions({param2: selectedBook})">Transactions</a></li>
            </ul>
          </div>
        </nav>


        <hr class="line" />

        <div class="container-fluid">
            <div class="row">
                 <div class="col-sm-12">

                    <div ui-view></div>
                </div>
            </div>

        </div>
    </div>


</section>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>